
.clear {
	clear:both;
	height:1px;
}

body {
	background: #ffffff;
	font-size: 9pt;
	line-height: 1.5;
	color: #505050;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#main {
	align : center;
	width: 980px;
	margin-left: auto ;
	margin-right: auto ;
	margin-top: 20px;
	margin-bottom: 20px;
}
#header {
	border-bottom:1px solid #E0E0E0;
	margin-bottom:20px;
	padding-bottom:10px;
	background:#ffffff;
}
#contentwrapper {
	background:#f7f7f7;
}
#content {
	width: 720px;
	text-align:left;
	float: right;
	background:#ffffff;
	padding-left: 20px;
}
#sidebarwrapper {	
	width: 240px;
	height: 100%;
	text-align: left;
	float: left;
}
#menu {
	font-size: 8pt;
	color:#606060;
	padding: 10px;
}
#menu ul {
	list-style:none outside;
	margin: 0px;
	padding: 0px;
}
#menu ul li {
	margin-bottom: 8px;
	border-bottom:1px solid #ffffff;
}
#menu ul li a {
	font-size: 10pt;
	font-weight: normal;
	text-decoration: none;
	color: #505050;
}
#menu ul li a:hover {
	color: #f26522;
}

#header h1 {
	color: #f26522;
	font-size: 16pt;
	text-decoration: none;
	font-weight: normal;
}
#header div.subtitle {
	color: #909090;
	font-size: 10pt;
	font-weight: bold;
}

#content a {
	color: #f26522;
	text-decoration: none;
}
#content h2 {
	display: inline;
	color: #f26522;
	font-size: 14pt;
	text-decoration: none;
	font-weight: normal;
}
#content h2 a {
}
#content h2 a:hover {
}
blockquote {
        font-family:'Courier New', Courier, Monospace, Fixed;
	margin: 4px;
	font-size: 10pt;
        padding: 10px;
        border-left: 4px solid #d0d0d0;
        border-top: 1px dashed #d0d0d0;
        border-right: 1px dashed #d0d0d0;
        border-bottom: 1px dashed #d0d0d0;
        background:#fafafa;
}
blockquote p {
	padding: 0px;
	margin: 0px;
}
pre {
	line-height: normal;
    overflow: auto;
	padding-bottom: 25px;
	margin: 0px;

	background-image:url('images/bg_pre_dots.png');
	background-repeat: repeat-x;
	background-position: bottom left;
}
p.indent {
	padding-left: 30px;
}
cite {
	font-weight: bold;
	font-style: normal;
	margin-left: 4px;
}
dl, dd, dt {
	margin: 0px;
}
#footnote {
	background:#ffffff;
}
#footnote a {
	color: #f26522;
	text-decoration: none;
}
